.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Fundo semitransparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Para garantir que o modal apareça sobre o conteúdo
  animation: fadeIn 0.3s ease-in-out;
}

.modal {
  background: linear-gradient(to right, #56ff7a, #00bfa6);
  color: #333;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
  animation: slideDown 0.3s ease-in-out;

  label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    display: inline-block;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s;

    &:focus {
      border-color: #00bfa6;
      outline: none;
    }
  }

  textarea {
    resize: none;
    height: 150px;
  }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;

  &:hover {
    color: #00bfa6;
  }
}

.modalBody {
  margin: 20px 0;
}

.modalFooter {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .saveButton,
  .cancelButton {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .saveButton {
    background-color: rgba(86, 255, 122, 1);
    color: white;
    border: none;

    &:hover {
      background-color: #00bfa6;
    }
  }

  .cancelButton {
    background-color: #ddd;
    border: none;

    &:hover {
      background-color: #bbb;
    }
  }
}

/* Animações */
@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
